.body {
    background-image: url(background.png);
    background-color: #cccccc;
}


.Easy {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.Hard{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.Medium{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}


.main {
    text-align: center;
    margin: auto;

}